[General]
Show_Title=false
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=small
val_fontsize=1
Font=Sans 11
Lines_Size=2
Cover_All_Panel_Rows=false
Update_Interval=5
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=3
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=424
Preferred_Height=455
Tachos_ColorValue=0.80
Tachos_Alpha=0.80

[Chip0]
Name=amdgpu-2b00
Number=0

[Chip0_Feature2]
Address=2
Name=GPU
Color=#EEEEEE
Show=true
Min=0.00
Max=54.00

[Chip1]
Name=nvme-100
Number=1

[Chip2]
Name=k10temp-c3
Number=2

[Chip2_Feature0]
Address=0
Name=CPU
Color=#EEEEEE
Show=true
Min=0.00
Max=80.00

