[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knuxify/Desktop/phone backup 2018-2022]
row=0
col=5

[/home/knuxify/Desktop/3ds-sd]
row=1
col=4

[/home/knuxify/Desktop/untitled.mp3]
row=3
col=5

[/home/knuxify/Desktop/New Folder]
row=0
col=6

[/home/knuxify/Desktop/got damn!!.flp]
row=1
col=6

[/home/knuxify/Desktop/VID_20220429_200154.mp4]
row=3
col=6

[/home/knuxify/Desktop/owo.mp3]
row=1
col=5

[/home/knuxify/Desktop/pmOS_boot]
row=2
col=4

[/home/knuxify/Desktop/untitled1.mp3]
row=0
col=4

[/home/knuxify/Desktop/got damn!! dnb edition.flp]
row=2
col=5

[/home/knuxify/Desktop/VID_20220501_141319.mp4]
row=1
col=3

[/home/knuxify/Desktop/aubrey_multitag.jpg]
row=2
col=6

[Trash]
row=3
col=4

[/home/knuxify]
row=0
col=3

