[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knuxify/Desktop/HNI_0070.JPG]
row=1
col=8

[/home/knuxify/Desktop/HNI_0075.JPG]
row=3
col=9

[/home/knuxify/Desktop/screenshots]
row=5
col=8

[/home/knuxify/Desktop/HNI_0069.JPG]
row=4
col=8

[/home/knuxify/Desktop/Bossfight Break.wav]
row=2
col=9

[/home/knuxify/Desktop/sketch1.png]
row=2
col=8

[/home/knuxify/Desktop/HNI_0070-thumb.JPG]
row=5
col=9

[/home/knuxify/Desktop/Wii Sports.iso]
row=0
col=8

[/home/knuxify/Desktop/HNI_0071.JPG]
row=4
col=9

[/home/knuxify/Desktop/HNI_0068.JPG]
row=3
col=8

[/home/knuxify/Desktop/bg.png]
row=6
col=9

[/home/knuxify/Desktop/goof]
row=6
col=8

[/home/knuxify/Desktop/HNI_0076.JPG]
row=1
col=7

[/home/knuxify/Desktop/HNI_0077.JPG]
row=0
col=7

[Trash]
row=0
col=9

[/home/knuxify]
row=1
col=9

