[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knuxify/Desktop/Flag_of_the_United_States.svg]
row=7
col=26

[/home/knuxify/Desktop/sboot.bin]
row=11
col=26

[/home/knuxify/Desktop/rescue.bak]
row=1
col=24

[/home/knuxify/Desktop/Screenshot_2022-07-02_21-49-07.png]
row=9
col=24

[/home/knuxify/Desktop/Screenshot_2022-07-01_22-35-24.png]
row=6
col=24

[/home/knuxify/Desktop/3ds-sd]
row=2
col=26

[/home/knuxify/Desktop/got damn!! dnb edition.flp]
row=5
col=26

[/home/knuxify/Desktop/wacko.mp3]
row=11
col=25

[/home/knuxify/Desktop/pmOS_boot]
row=6
col=25

[/home/knuxify/Desktop/sbl.bin]
row=13
col=26

[/home/knuxify/Desktop/T310XXSBQB2_T310XEOBNH1_HOME.tar]
row=10
col=26

[/home/knuxify/Desktop/VID_20220429_200154.mp4]
row=1
col=25

[/home/knuxify/Desktop/Flag_of_the_United_States.png]
row=8
col=26

[/home/knuxify/Desktop/PDA_S5360_XXMC2.tar]
row=3
col=25

[/home/knuxify/Desktop/a5]
row=8
col=25

[/home/knuxify/Desktop/untitled1.mp3]
row=3
col=26

[/home/knuxify/Desktop/Screenshot_2022-06-29_16-05-43.png]
row=4
col=24

[/home/knuxify/Desktop/idk how to continue this.mp3]
row=10
col=25

[/home/knuxify/Desktop/Screenshot_2022-06-29_11-35-25.png]
row=3
col=24

[/home/knuxify/Desktop/mix of completely random music from my pc except i fucked up and recorded the whole thing in mono.mp3]
row=13
col=25

[/home/knuxify/Desktop/choost.png]
row=7
col=24

[/home/knuxify/Desktop/AUTPRINT.MRK]
row=7
col=25

[/home/knuxify/Desktop/untitled.mp3]
row=4
col=26

[/home/knuxify/Desktop/New Folder]
row=5
col=25

[/home/knuxify/Desktop/2 Early Works Bootleg - Fantasy and Mana.mp3]
row=5
col=24

[/home/knuxify/Desktop/owo.mp3]
row=6
col=26

[/home/knuxify/Desktop/galaxy-y-capture.pcapng]
row=14
col=26

[/home/knuxify/Desktop/rescue]
row=0
col=24

[/home/knuxify/Desktop/VID_20220501_141319.mp4]
row=4
col=25

[/home/knuxify/Desktop/Games]
row=14
col=25

[/home/knuxify/Desktop/aubrey_multitag.jpg]
row=2
col=25

[/home/knuxify/Desktop/Screenshot_2021-12-07_20-48-55.jpg]
row=2
col=24

[/home/knuxify/Desktop/phone backup 2018-2022]
row=0
col=25

[/home/knuxify/Desktop/Screenshot_2022-07-02_21-55-06.png]
row=10
col=24

[/home/knuxify/Desktop/Screenshot_2022-07-02_11-52-49.png]
row=8
col=24

[/home/knuxify/Desktop/sboot-s3.bin]
row=12
col=26

[/home/knuxify/Desktop/fuck freestyle.mp3]
row=9
col=25

[/home/knuxify/Desktop/flip a mac.mp3]
row=12
col=25

[/home/knuxify/Desktop/owo]
row=9
col=26

[Trash]
row=1
col=26

[/home/knuxify]
row=0
col=26

