[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knuxify/Desktop/Screenshot_2021-12-22_20-06-38.png]
row=1
col=10

[/home/knuxify/Desktop/HNI_0071.JPG]
row=4
col=12

[/home/knuxify/Desktop/Screenshot_2021-12-22_20-07-58.png]
row=0
col=10

[/home/knuxify/Desktop/HNI_0069.JPG]
row=4
col=11

[/home/knuxify/Desktop/Wii Sports.iso]
row=0
col=11

[/home/knuxify/Desktop/sketch1.png]
row=2
col=11

[/home/knuxify/Desktop/goof]
row=6
col=11

[/home/knuxify/Desktop/HNI_0070-thumb.JPG]
row=5
col=12

[/home/knuxify/Desktop/screenshots]
row=5
col=11

[/home/knuxify/Desktop/HNI_0070.JPG]
row=1
col=11

[/home/knuxify/Desktop/HNI_0068.JPG]
row=3
col=11

[/home/knuxify/Desktop/HNI_0076.JPG]
row=4
col=10

[/home/knuxify/Desktop/HNI_0077.JPG]
row=3
col=10

[/home/knuxify/Desktop/HNI_0075.JPG]
row=3
col=12

[/home/knuxify/Desktop/bg.png]
row=6
col=12

[/home/knuxify/Desktop/unknown.png]
row=2
col=10

[/home/knuxify/Desktop/Bossfight Break.wav]
row=2
col=12

[Trash]
row=0
col=12

[/home/knuxify]
row=1
col=12

