[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knuxify/Desktop/untitled.mp3]
row=2
col=26

[/home/knuxify/Desktop/got damn!! dnb edition.flp]
row=6
col=26

[/home/knuxify/Desktop/untitled1.mp3]
row=3
col=26

[/home/knuxify/Desktop/aubrey_multitag.jpg]
row=4
col=26

[/home/knuxify/Desktop/got damn!!.flp]
row=5
col=26

[Trash]
row=0
col=26

[/home/knuxify]
row=1
col=26

