[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knuxify/Desktop/phone backup 2018-2022]
row=9
col=12

[/home/knuxify/Desktop/3ds-sd]
row=4
col=12

[/home/knuxify/Desktop/untitled.mp3]
row=6
col=12

[/home/knuxify/Desktop/New Folder]
row=13
col=12

[/home/knuxify/Desktop/got damn!!.flp]
row=12
col=12

[/home/knuxify/Desktop/VID_20220429_200154.mp4]
row=10
col=12

[/home/knuxify/Desktop/owo.mp3]
row=8
col=12

[/home/knuxify/Desktop/pmOS_boot]
row=3
col=12

[/home/knuxify/Desktop/untitled1.mp3]
row=5
col=12

[/home/knuxify/Desktop/got damn!! dnb edition.flp]
row=7
col=12

[/home/knuxify/Desktop/VID_20220501_141319.mp4]
row=0
col=12

[/home/knuxify/Desktop/aubrey_multitag.jpg]
row=11
col=12

[Trash]
row=2
col=12

[/home/knuxify]
row=1
col=12

